html {
  height:100%;
  overflow: auto;
}

body {
  /*background-image: linear-gradient(to right bottom, #7ea7e4, #6a99eb, #5b8af1, #5379f4, #5666f4);*/
  background-image: linear-gradient(to right bottom, #7197ec, #668cf0, #5d80f2, #5774f4, #5666f4);
  overflow: auto;
  height: 100%;
}

#header {
  font-family: 'PT Sans', sans-serif;
  /*padding: 40px;*/
  padding-bottom: 20px;
  padding-top: 20px;
  font-size: 50px;
  color: white;
}

#mainLogo {
  border:none;
}

#description {
  margin-top: 7px !important;
}

#slider {
  margin-top: 20px;
  width: 100%;
  margin-bottom: 30px;

}

#date {
  color: #777;
  font: 13px sans-serif;
  font-family: 'arial';
  margin-bottom: 5px;
}

#title {
  font-size: 36px;
  color: #FFF;
}

#rightRail {
  width: 180px;
}

#mapSegment {
  padding: 0px;
  width:1001px;
  height:551px;
}

.ui.segment {
  margin: 0px !important;
}

.ui.menu .item:before {
  width: 0px !important;
}

#mapHolder {
  /*margin-top: 5%;*/
  /*margin-left: -45px;*/
  /*padding: 20px;*/
}

#centerContainer {
  max-width: 10000px !important;
  /*max-height: 430px;*/
}

.legend circle {
  fill: none;
  stroke: #ccc;
}

.legend text {
  fill: #777;
  font: 9px sans-serif;
  font-family: 'arial';
  text-anchor: middle;
}

.inMapSource text {
  fill: #888;
  font: 11px sans-serif;
  font-family: 'arial';
  text-anchor: middle;
}

.inMapTitle text {
  fill: #444;
  font: 30px sans-serif;
  font-family: 'arial';
  text-anchor: middle;
}

.card {
  ackground: #FFF; 
  border-radius: 2px;     
  border: 0px;    
  box-shadow: rgba(0, 0, 0, 0.18) 0px 1px 3px 0px; 
}

.graticule {
  fill: none;
  stroke-opacity: 0.2;
  stroke-width: 0.5px;
  stroke: #777;
}

.country {
  fill: #333;
}

.boundary {
  fill: none;
  /*stroke-opacity: 0.9;*/
  stroke-width: 0.5px;
  stroke: #CCC;

}

.marker {
  fill: none;
  opacity: 0.8;
  stroke-width: 0.5px;
  stroke: #FFF;
}

.sphere {
  fill: #FFF; /*#F9F9F9;*/
}

div.tooltip { 
  background: #FFF; 
  border-radius: 2px;     
  border: 0px;    
  box-shadow: rgba(0, 0, 0, 0.18) 0px 1px 3px 0px; 
  fill: #FFF;
  font-size: 12px ;
  padding-top: 7px;     
  padding-bottom: 7px;
  padding-left: 15px;
  padding-right: 15px;  
  pointer-events: none;  
  min-width: 100px;
  position: absolute;     
  text-align: left;     
}

#wrapper {
    height: auto;
}

/* slider */
.noUi-target {
  box-shadow: 0px;
}
.noUi-handle {
  box-shadow: 0px;
}
