body {
  background: #fcfcfa;
  font-family: 'font-family: 'Open Sans', sans-serif;';
}

.graticule {
  fill: none;
  stroke-opacity: 0.2;
  stroke-width: 0.5px;
  stroke: #777;
}

.country {
  fill: #333;
}

.boundary {
  fill: none;
  stroke-width: 0.5px;
  stroke: #FFF;
}

.marker {
  fill: none;
  opacity: 0.8;
  stroke-width: 0.5px;
  stroke: #FFF;
}

.sphere {
  fill: #F9F9F9;
}

div.tooltip { 
  background: #FFF; 
  border-radius: 2px;     
  border: 0px;    
  box-shadow: rgba(0, 0, 0, 0.18) 0px 1px 3px 0px; 
  fill: #FFF;
  font-family: 'Open Sans', sans-serif;    
  font-size: 12px ;
  padding-top: 7px;     
  padding-bottom: 7px;
  padding-left: 15px;
  padding-right: 15px;  
  pointer-events: none;  
  position: absolute;     
  text-align: center;     
}