html {
  height:100%;
  overflow: auto;
}

body {


background: -webkit-linear-gradient(139deg, rgb(54, 135, 208), rgb(59, 66, 191));
background: linear-gradient(139deg, rgb(54, 135, 208), rgb(59, 66, 191));


}

#mainLogo {
  border:none;
}

#title {
  font-size: 36px;
  color: #FFF;
}

#rightRail {
  width: 180px;
}

.ui.segment {
  margin: 0px !important;
}

.ui.menu .item:before {
  width: 0px !important;
}

#mapHolder {
  margin-top: 5%;
  margin-left: -45px;
  padding:20px;
}

#centerContainer {
  max-width: 835px !important;
}

.legend circle {
  fill: none;
  stroke: #ccc;
}

.legend text {
  fill: #777;
  font: 9px sans-serif;
  text-anchor: middle;
}

.card {
  background: #FFF; 
  border-radius: 2px;     
  border: 0px;    
  box-shadow: rgba(0, 0, 0, 0.18) 0px 1px 3px 0px; 
}

.graticule {
  fill: none;
  stroke-opacity: 0.2;
  stroke-width: 0.5px;
  stroke: #777;
}

.country {
  fill: #333;
}

.boundary {
  fill: none;

}

.marker {
  fill: none;
  opacity: 0.8;
  stroke-width: 0.5px;
  stroke: #FFF;
}

.sphere {
  fill: #FFF; /*#F9F9F9;*/
}

div.tooltip { 
  background: #FFF; 
  border-radius: 2px;     
  border: 0px;    
  box-shadow: rgba(0, 0, 0, 0.18) 0px 1px 3px 0px; 
  fill: #FFF;
  font-size: 12px ;
  padding-top: 7px;     
  padding-bottom: 7px;
  padding-left: 15px;
  padding-right: 15px;  
  pointer-events: none;  
  min-width: 100px;
  position: absolute;     
  text-align: center;     
}

#wrapper {
    height: auto;
}

/* slider */
.noUi-target {
  box-shadow: 0px;
}
.noUi-handle {
  box-shadow: 0px;
}
